# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Environment variables
# Keep your sensitive information out of version control
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
# For client-side React app
client/build/
client/dist/
client/out/

# For server-side (if any transpilation or build step creates a 'dist' folder)
server/dist/

# Logs
*.log
logs/
server/logs/ # Specific server logs

# OS and Editor specific files
.DS_Store
.vscode/
.idea/
.history/
*.sublime-project
*.sublime-workspace
Thumbs.db

# Test coverage reports
coverage/

# Miscellaneous
tmp/
*.swp
*.swo